<div class="container">
    <div class="row">
      <div class="col-xs-12" id="course-table-right">
        <h3>
          Courses Taken
        </h3>
        <table class="app-course-table-right">
            <thead class="thead-dark">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Course Title</th>
              <th scope="col">Source Site</th>
              <th scope="col">Category</th>
              <th scope="col">Notes</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ id }}</td>
              <td>{{ title }}</td>
              <td>{{ site }}</td>
              <td>{{ category }}</td>
              <td>{{ notes }}</td>
            </tr>
            <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  
  </div>
  
  
    <!-- <a [routerLink]="['/cart']" class="button fancy-button"><i class="material-icons">shopping_cart</i>Checkout</a> -->