<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-top-bar></app-top-bar> -->
<app-top-bar></app-top-bar>
<div>
  <h1 id="welcome">
    Welcome to {{ title }}!
  </h1>
</div>
<hr>
<app-course-table></app-course-table>
<!-- image for course listing -->
<br>
<app-course-table-2></app-course-table-2>
<!-- image for course wish list -->
<hr>
<div>
  <!-- teach me form goes here -->
  <app-teach-me-form></app-teach-me-form>
</div>
<div>
    <!-- footer goes here -->
    <app-footer></app-footer>
  </div>